html {
    background-color: #fafafa;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.container-50 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.text-xxs {
    font-size: 0.7em;
}

input:focus {
    outline: 0;
}